.title {
  width: fit-content;
  font-size: 2em;
  margin: 2em auto;
}

.empty_cart_button {
  font-size: 1.15em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-bottom: 3em;
}

.empty_cart_message {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 3em;
}

.image {
  object-fit: cover;
  width: 5em;
  margin: auto;
  aspect-ratio: 1/1;
  border-radius: 0.75em;
}

.cart_table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  text-align: center;
}

.cart_price {
  margin-top: 2em;
  margin-bottom: 2em;
  width: fit-content;
  margin-left: auto;
}

.cart_button {
  background-color: none;
  outline: none;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  display: block;
}

.product_count {
  padding: 0 1em;
}

.cart_buttons_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove_product_button {
  background-color: red;
  color: white;
  outline: none;
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  display: block;
  margin: auto;
}
